<form asp-action = "index">
    <div>
    <label> for = "name" dien ten </label>
    <input type name = "text" name = "name">
    </div>
    <div>
        <label> for ="age" dien tuoi </label>
        <input type age = "text" name = "age">
    </div>
</form> 